<!doctype html>
<title>SVG studio</title>
<link rel="icon" id=favicon>
<style>
	.M{--color:grey}
	.L{--color:red}
	.Q{--color:violet}
	.C{--color:blue}
	:root{--size:16px}
	body{margin:0}
	nav{display:flex;gap:5px}
	nav>*{flex:0}
	figure{position:relative;margin:auto;max-width:calc(100vmin - 64px)}
	figure>.grid{display:grid;position: absolute;top: 0;bottom: 0;left: 0;right: 0;}
	figure>.grid>*{box-shadow:0 0 0 1px rgba(0,0,0,.1);}
	figure>input{position:absolute;background:var(--color);font-size:0;z-index:9}
	figure>input{border:1px solid #888;width:var(--size);height:var(--size);border-radius:100%;cursor:pointer;}
	figure>input:disabled{border:1px solid var(--color);background: none; user-select: none;}
	figure>input:focus{outline: 3px solid #888;}
	</style>
<main>
	<nav>
		<input type=file @change="name=$event.target.files[0].name;cat($event.target.files[0]).then(load)" style="min-width:7em;margin:auto">
		<button onclick="alert(`USAGE:\narrows: move focused node\nctrl+arrows: move curve\nalt+arrows: move cubic curve\ndelete: delete focused node\n\nshift+[one of above] = apply to the whole polygon`)">?</button>
		<button @click="commands=commands.concat([{type:'M',x:2,y:4},{type:'L',x:4,y:2},{type:'L',x:6,y:4}])">L</button>
		<button @click="commands=[]">clear</button>
		<input v-model.number=width  max=64 min=2 type=number title=width>
		<input v-model.number=height max=64 min=2 type=number title=height>
		<a v-for="i in [4,8,16,24,32]" :download=name :href=img><img :src=img :width=i :height=i :title=i></a>
		<textarea rows=1 readonly :title=img.length-24 style=flex:1>{{toPathString(commands)}}</textarea>
	</nav>
	<figure class=rel>
		<img :src=img width=100%>
		<div class=grid :style="`grid-template:repeat(${height},1fr)/repeat(${width},1fr)`">
			<span v-for="_ in width*height"></span>
		</div>
		<input :class=cmd.type :style=pos(cmd,1) v-for="cmd in commands.filter(c=>'x1' in c)" disabled>
		<input :class=cmd.type :style=pos(cmd,2) v-for="cmd in commands.filter(c=>'x2' in c)" disabled>
		<input :class=cmd.type :style=pos(cmd)   v-for="cmd,c in commands" @keydown="key(cmd,c,$event)"
			@keydown.shift.delete=commands.splice(...groupRange(cmd,true))
			@keydown.delete="commands.splice(c,1)">
	</figure>
</main>
<script type=module>
import './vue.js'; ////unpkg.com/vue@2
new Vue({
	el: "main",
	mounted() {
		try {
			let data = JSON.parse(localStorage.data || '{}')['picon.json'];
			for (let k in data) { this.$data[k] = data[k]; }
		} catch (e) { alert("LocalStorage is not Available, your work won't be saved") }
	},
	data() {
		return {
			name: "picon.svg",
			width: 8,
			height: 8,
			commands: [
				{type: "M", x: 2, y: 4},
				{type: "L", x: 4, y: 2},
				{type: "Q", x1: 1, y1: 2, x: 6, y: 4},
				{type: "C", x1: 1, y1: 2, x2: 3, y2: 4, x: 5, y: 6},
			]
		}
	},
	methods: {
		key(cmd, c, ev) {
			if(ev.key == 'Enter') {
				Object.keys(cmd).forEach(k=>cmd[k]=prompt(k, cmd[k]))
			} if(~"mlqc".indexOf(ev.key)) {
				const opts = {m:{},l:{},q:{x1: cmd.x+1, y1: cmd.y+1},c:{x1: cmd.x+1, y1: cmd.y+1, x2: cmd.x-1, y2: cmd.y-1}}
				this.commands.splice(c+1,0,{type:ev.key.toUpperCase(), x: cmd.x+1, y: cmd.y+1,...opts[ev.key]})
			} else if(ev.key.startsWith("Arrow")) {
				const cmds = ev.shiftKey ? this.groupRange(cmd,/*true*/) : [cmd]
				const attr = (ev.keyCode & 1 ? 'x':'y') + (ev.ctrlKey | ev.altKey*2 || '')
				cmds.forEach(cmd=>attr in cmd?cmd[attr]=+cmd[attr]+(ev.keyCode>38)*2-1:0)
			} else return true //don't prevent (Tab, ctrl+r ...)
			ev.preventDefault()
		},
		pos(cmd, n=''){return {
			top: 'calc('+(100*cmd['y'+n] / this.height)+'% - calc(var(--size)/2))',
			left:'calc('+(100*cmd['x'+n] / this.width )+'% - calc(var(--size)/2))'}},
		cat: (file) => new Promise((then) => Object.assign(new FileReader(),{onload:e=>then(e.target.result)}).readAsText(file)),
		toPathString: (cmds) => cmds.map(({type,x1,y1,x2,y2,x,y}) => type + [x1,y1,x2,y2,x,y].filter(x=>x !== undefined)).join(''),
		toCommands: (str) => str.match(/([A-Z a-z][-.0-9,]+)/g).map(cmd => {
			const coords = cmd.slice(1).split(',').map(Number);
			const [x, y, x1, y1, x2, y2] = [...coords.slice(-2), ...coords.slice(0, -2)];
			return JSON.parse(JSON.stringify({type:cmd[0].replace(/ /g,'L'), x, y, x1, y1, x2, y2}));//to remove undefined props
		}),
		groupRange(cmd,range=false) {
			const pos = this.commands.indexOf(cmd);
			for(var first = pos; first>0 && this.commands[first].type!='M'; first--);
			for(var last = pos; last+1<this.commands.length && this.commands[last+1].type!='M'; last++);
			return range ? [first,last-first+1] : this.commands.slice(first, last+1);
		},
		load(svg) {
			this.commands = this.toCommands((svg.match(/ d=".*?"/g)||'').map(path => path.slice(4,-1))[0])
		}
	},
	computed: {
		img() { return favicon.href=`data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 ${this.width} ${this.height}"><path d="${this.toPathString(this.commands)}"></path></svg>`}
	}
});
</script>