:root {
	--text: #404545;
	--back: rgba(248,248,248,.9);
	--primary: #af0000;
	--size: 32px;
	--radius: 4px;
	--fab: 32px;
}
@media (prefers-color-scheme: dark) {
	:root {
		--text: #F8F8F8;
		--back: rgba(64,64,64,.9);
		--primary: #ff98ab;
	}
	img[src^="data:image/svg"]{filter: invert(1);}
}

body{
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 16px;
	color: var(--text);
	background: var(--back);
}
article {
	max-width: 576px;
	margin: auto;
}
a {
	color: var(--primary);
	text-decoration: none;
}
a:hover {text-decoration: underline;}
/* pre colors stay white on black even in dark mode*/
style,pre,code{
	background: #222;
	color: #FFF;
	padding: 1px .5em;
	border-radius: var(--radius);
	overflow: auto;
	white-space: pre;
	font-family: monospace;
	tab-size: 2;
}
@font-face {
	src: url(https://yne.fr/picon/Picon-Regular.woff2);
	font-family: picon;
}
.picon{font-family:picon}
